<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <!--getting passed in the foundFarm with populated products property-->
    <h1><%= farm.name %></h1>
    <ul>
      <li>City:<%= farm.city %></li>
      <li>Email:<%= farm.email %></li>
    </ul>
    <h2>Products</h2>
    <ul>
      <!--note- /products/:id vs products/:id-->
      <!--without the slash it add on top of the current path-->
      <!--/products makes it absoulte path-->
      <!--note- dont need to nest under farm if we dont need farm id-->
      <!--can populate farm property of product since it is already connected to a farm-->
      <%for(let p of farm.products){%>
      <li><a href="/products/<%=p._id%>"><%=p.name%></a></li>
      <%}%>
    </ul>
    <a href="/farms/<%=farm._id%>/products/new">Add Product</a>
    <!--(http structured) GET request-->
    <a href="/farms">Back to Index</a>
    <!--(http structured) GET request-->

    <!--http structured POST request form-->
    <!--browser forms can only make POST and GET method (http structured) requests-->
    <!--using method-override npm package - middlewareFunction("key") -->
    <!--when (http structured) POST request arrives it changes the req.method from POST to DELETE-->
    <!--adding ?queryString to /resource/:id/?key=value-->
    <!--we set value for key(_method) with alternative to POST ie.DELETE-->
    <form action="/farms/<%=farm._id%>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </body>
</html>
